* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #021a3e;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(img/bg.png);

    background-size: cover;
    background-position: center;
    padding-top: 60px;

}

li {
    list-style: none;
}

#bars {
    color: #DFF6FF;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.2s ease, text-shadow 0.2s ease;
    
}

a:hover {
    color:#00B4D8;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(255, 255, 255);
    
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 2rem;
    background-color: #1d1d1de6;
}


.navbar {
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.action_btn {
    background-color: #001c79eb;
    color: #fff;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease, box-shadow 0.2s ease;
   
}

.action_btn:hover {
    scale: 1.05;
    box-shadow: 0 0 15px rgba(97, 125, 227, 0.906), 0 0 30px rgba(255, 255, 255, 0.861);
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* dropDown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 10000;
    transition: hight .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
    
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dropdown_menu .action_btn{
    width: 90%;
    display: flex;
    justify-content: center;
}

/* respons الاول */
@media(max-width : 735px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {

        display: block;
    }
    .dropdown_menu{
        display: block ;
    }
}
@media(max-width : 735px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

/* 
search
*/
.container{
    width: 100%;
    min-height: 10vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)),url(img/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    width: 100%;
    max-width: 700px;
    height: 70px;
    background-color:rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
   backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input {
    background:transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #f8f8f8;

}
::placeholder{
    color: #74b0f0dc;
}
.search-bar .btn-s .fa-solid{
width: 25px;

}
.search-bar .btn-s{
    border: 0;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background: #74b0f03b;
    cursor: pointer;

}


/* 
welcome
*/
.home{
  font-family: 'Roboto' , sans-serif;  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  text-align: center;
  background-position: center;
  background-size: cover;
}
.home-content{
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content h1{
    color: #8ab3ff;
    font-size: 100px;
    font-weight: 650;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.795);
}
.home p{
color: #fff;
font-size: 20px;
line-height: 35px;
text-align: center;
text-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}
.home-content {
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: slide-down 1.5s ease-out; 
}
.start-btn{
    width: 180px;
    color: #0c0058;
    font-size: 15px;
    padding: 12px 0;
    background: #4bd9e6ce;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.start-btn:hover {
    background: linear-gradient(45deg, #04bacb, #200bac);
    color: #fff;
    transform: scale(1.1); 
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.998);
}
.start-btn:active {
    transform: scale(0.95); 
    box-shadow: 0 4px 6px rgba(255, 107, 107, 0.4); 
}

/* 
companys
*/
.carousel-item .card {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.card-img-top {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.card-img-top:hover {
    transform: scale(1.2) rotate(10deg);
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade-slide 2s ease-in-out;
}
.pal-comp, .int-comp {
    font-size: 32px;
    font-weight: 700;
    color: white;
    position: relative;
    text-transform: uppercase;
    animation: fade-slide 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 0 3px #3ABEF9, 0 0 5px #3ABEF9;
    animation: bounce 2s infinite;
}
.highlight {
    font-size: 40px;
    color: #fdfdfddd;
    font-weight: bold;
    text-shadow: 0 0 5px #001973, 0 0 10px #c2c8d8a1;
    animation: glow 2s infinite alternate;
}
.animated-word {
    display: inline-block;
    background: linear-gradient(90deg, #3498db, #9b59b6);
    background: none;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 3s infinite;
}
.scrolling-images-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.043);
    border-radius: 10px;
    padding: 10px;
}
.scrolling-images {
    display: flex;
    animation: scroll-left 20s linear infinite;
}
.scrolling-images img {
    width: 100px;
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 40px;
}
.scrolling-images img:hover {
    transform: scale(1.2);
}
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
@keyframes glow {
    from {
        text-shadow: 0 0 50px #ffffff, 0 0 10px #4b71ed;
    }
    to {
        text-shadow: 0 0 10px #ffffff, 0 0 15px #4b71ed;
    }

}
@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes fade-slide {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*multy-card*/
.p2{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
display: flex;
flex-wrap: wrap;
min-height: 100vh;
justify-content: center;

}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;

}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: rgb(3,35,54);
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;

}
.card .back .link a{
    color: #f3f3f3;

}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;

}
.card .back p{
letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}




  


footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    
    color: #fff;
}
footer p {
    margin: 0;
    font-size: 0.9rem;
}